html {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    background-color: #EFEFFF;
}

#main_page {
    background-color: #FFF;
    width: 820px;
    margin: 20px auto;
    padding: 5px 10px;
}

.box_shadow {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .25);
}

h1 {
    border-bottom: solid 1px #AAA;
}

#options {
    margin: 20px 0;
    padding: 10px;
    width: 800px;
    height: 200px;
}

#options #left_column {
    float: left;
    width: 340px;
}

#options #right_column {
    float: left;
    width: 340px;
}

#options label {
    text-align: right;
    margin-right: 10px;
    float: left;
    width: 150px;
    height: 100%;
    padding: 0;
}

#options input {
    float: left;
    border: 1px;
    height: 100%;
}

.item {
    width: 340px;
    height: 1.5em;
    margin: 10px;
}